
<form [formGroup]="profileForm">
  <h2>Login Form</h2>
<label>
 First Name:
  <input type="text" formControlName="fname" placeholder="firstname">
  <span *ngIf="!profileForm.controls['fname'].valid">*</span>
</label><br/><br/><br/><br/>
<label>
 Last Name:
  <input type="text"  formControlName="lname" placeholder="lastname">
  <span *ngIf="!profileForm.controls['lname'].valid">*</span>
</label><br/><br/><br/><br/>
<label>
    EmployeeId:
    <input type="text"  formControlName="emp" placeholder="empid">
    <span *ngIf="!profileForm.controls['emp'].valid">*</span>
  </label><br/><br/><br/><br/>
 <label>
  Email:
   <input type="email"  formControlName="email" placeholder="email">
   <span *ngIf="!profileForm.controls['email'].valid">*</span>
 </label><br/><br/><br/><br/>
 <label>
  
  Contact No.:
    <input  type="text" formControlName="con" placeholder="contact no.">
    <span *ngIf="!profileForm.controls['con'].valid">*</span>
  </label><br/><br/><br/>
  <label>
  Password:
   <input type="password"  formControlName="pass" placeholder="password">
   <span *ngIf="!profileForm.controls['pass'].valid">*</span>
 </label><br/><br/><br/><br/>
 <label>
  Confirm Password:
   <input type="password"  formControlName="cpass" placeholder="confirm password">
   <span *ngIf="!profileForm.controls['cpass'].valid">*</span> 
 </label><br/><br/><br/><br/>
 <label>
  Gender:
   <input type="text"  formControlName="gen" placeholder="gender">
   <span *ngIf="!profileForm.controls['gen'].valid">*</span>
 </label><br/><br/><br/><br/>

 <button type="submit" [disabled]="!profileForm.valid" >Submit</button>

</form>
