<table style="width:100%" border=2px>
  <thead>
    <tr>
      <td><h3>FirstName</h3></td>
      <td><h3>LastName</h3></td>
      <td><h3>EmpId</h3></td>
      <td><h3>Email</h3></td>
      <td><h3>Contact</h3></td>
      <td><h3>Password</h3></td>
      <td><h3>Gender</h3></td>
    </tr>
  </thead>
  <tr>
    <td>{{item.fname}}</td>
    <td>{{item.lname}}</td>
    <td>{{item.emp}}</td>
    <td>{{item.email}}</td>
    <td>{{item.con}}</td>
    <td>{{item.pass}}</td>
    <td>{{item.gen}}</td>
  </tr>
</table>